body 
{
    display: flex;
    align-items: center;
}

.leftBar
{
    height: 100vh;
    width: 30%;
    /* background-color: teal; */
    background: linear-gradient(166.62deg, #FFFFFF 0%, rgba(218, 218, 218, 0.984375) 96.9%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topCont
{
    /* background-color: violet; */
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.topCont > .photoCont
{
    /* background-color: yellow; */
    width: 10vh;
    height: 100%;
}

.topCont > .photoCont > img
{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
    /* border: 2px black solid; */
}

.selected
{
    border: 2px cyan solid;
}

.loadingBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBar
{
    /* background-color: yellowgreen; */
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchBar > input
{
    width: 80%;
    height: 60%;
    border-radius: 45px;
    border: 2px solid #4D9FFF;
    outline: none;
    padding-left: 16px;
}

.searchBar > input:focus
{
    border: 2px cyan solid;
}

.inbox
{
    /* background-color: white; */
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.inbox::-webkit-scrollbar {
    width: 12px;
}

.inbox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.inbox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.inbox .userConversation
{
    width: 80%;
    height: 10vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.6rem 0;
    border: 3px solid #4D9FFF;
    border-radius: 8px;
    cursor: pointer;
}

.inbox .userConversation img
{
    background: #FFF;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.inbox .userConversation div
{
    text-align: center;
}

#menu {
    display: block;
    background-color: white;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 30px lightgrey;
    position: absolute;
    transform-origin: center;
    z-index: 2;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.2s, opacity 0.2s;
  }
  
  #menu.show {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
  }
  
  .menu-item {
    display: block;
    padding: 10px 30px;
    transition: 0.1s;
    color: #666;
  }
  
  .menu-item:hover {
    background-color: #eee;
    cursor: pointer;
  }

.rightBar
{
    height: 100vh;
    width: 70%;
    /* background-color: tomato; */
    background-color: #F5F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightBar > .startConvImg
{
    width: 60%;
    height: 60%;
    margin-bottom: 10px;
}

.Chat
{
    /* background-color: #F5F2F2; */
    width: 100%;
    height: 85%;
    overflow-y: auto;
}

.Chat::-webkit-scrollbar {
    width: 12px;
}

.Chat::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.Chat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.mainMessageCont
{
    /* background-color: green; */
    width: 100%;
    height: fit-content;
    /* margin-top: 20px; */
    display: flex;
    justify-content: flex-end;
}

.mainUserCont
{
    max-width: 60%;
    width: fit-content;
    height: auto;
    max-height: 30vh;
    background-color: darkseagreen;
    padding: 8px 8px;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.mainUserCont p
{
    max-width: 100%;
    text-align: left;
    word-wrap: break-word;
}

.mainUserCont a
{
    text-align: left;
    max-width: 100%;
}

.mainUserCont div {
    display: inline-block;
    height: 90%;
    width: fit-content;
}

.mainUserCont img 
{
    max-height: 100%;
    max-width:100%;
    object-fit: cover;
}

.mainUserCont span {
    text-align: right;
    font-size: 13px;
}

.otherMessageCont
{
    width: 100%;
    height: fit-content;
    display: flex;
}

.otherUserCont div 
{
    display: inline-block;
    height: 90%;
    width: fit-content;
}

.otherUserCont img 
{
    max-height: 100%;
    max-width:100%;
    object-fit: cover;
}
.otherUserCont
{
    background-color: dodgerblue;
    max-width: 60%;
    width: fit-content;
    height: auto;
    max-height: 30vh;
    padding: 8px 8px;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.otherUserCont > p
{
    text-align: left;
    max-width: 100%;
    word-wrap: break-word;  
}
.otherUserCont > a
{
    text-align: left;
    max-width: 100%;
}

.otherUserCont > span {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 13px;
}

.messageForm
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 15%;
}

.messageForm > input[type=text]
{
    width: 80%;
    height: 50%;
    border-radius: 45px;
    border: 2px solid #4D9FFF;
    outline: none;
    padding-left: 16px;
}

.messageForm > input[type=text]:focus
{
    border: 2px cyan solid;
}

.messageForm #arquivo
{
    display: none;
}

.messageForm .custom-file-upload {
    width: 8vh;
    height: 8vh;
    display: inline-block;
    background: url("/frontEnd/assets/images/paperclip.svg") no-repeat ;
    background-size: contain;
    cursor: pointer;
}
/* .messageForm > button
{
    width: 9vh;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
} */

/* .messageForm > button img 
{
    height: 100%;
    width: 90%;
    cursor: pointer;
} */


.profileCont 
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.imgProfCont
{
    height: 20vh;
    border-radius: 50%;
}

.imgProfCont #uploadPic {
    width: 20vh;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.imgProfCont #uploadPic #profilePhoto 
{
    
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4D9FFF;

}
/* 
.imgProfile 
{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  z-index: 6;
}

.imgProfile img
{
    background: #FFF;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4D9FFF;
    cursor: pointer;
} */

.imgProfCont #uploadPic input
{
    width: 20vh;
    height: 20vh;
    position: absolute;
    z-index: 2;
    background-color: teal;
    border-radius: 50%;
    opacity: 0;
}

/* ----------------------------- */

.profInfoCont 
{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.inputCont
{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputCont > input
{
    width: 90%;
    height: 60%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #4D9FFF;
    border-radius: 45px;
    outline: none;
    text-align: center;
}

.inputCont > input:focus
{
    border: 3px cyan solid;
}

.profInfoCont > button
{
    width: 15vw;
    height: 8vh;
    background-color: #4D9FFF;
    color: white;
    border: 0;
    border-radius: 45px;
    font-size: 1.2rem;
    transition: 0.8s;
}

.profInfoCont > button:hover
{
    background-color: white;
    color: #4D9FFF;
    border: 3px solid #4D9FFF;
}