body 
{
    background-color: var(--primary-color);
}

.imgProfile 
{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  z-index: 6;
}

.imgProfile img
{
    background: #FFF;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4D9FFF;
    cursor: pointer;
}

form .grid2 {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-areas: "header header" "name email" "senha confSenha" "estado cidade" "tel radio" "ende num_comp";
}

form .grid_header {
    grid-area: header;
    text-align: center;
}

.photoCont {
    position: relative;
    height: 15.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photoCont input[type=file]{
    position: absolute;
    z-index: 4;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    opacity: 0;
    border: 2px solid transparent;
    cursor: pointer;
}

form .grid_header .userPic {
    position: absolute;
    z-index: 2;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #00FFF0;
}


.middle {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}



.contEnvPerfil {
    transform: translate(0%, 55%);
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* ========================================== */

form 
{
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contEnv 
{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tec_col {
    display: none;
}

.tec_col_active {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

form .col .inputBox 
{
    position: relative;
    width: 30vw;
    height: 4.3rem;
    background-color: var(--bg-dark);
    color: var(--primary-font-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form .col .inputBox input[type="text"],
form .col .inputBox input[type="password"],
form .col .inputBox input[type="email"]
{
    height: 4.3rem;
    width: 100%;
    position: absolute;
    background-color: transparent;
    border: 0;
    color: var(--primary-font-color);
    text-align: center;
    text-justify: center;
    border-radius: 5px;
}

form .col .inputBox input:-webkit-autofill
{
    transition: all 5000s ease-in-out 0s;
}

form .col .inputBox .line 
{
    position: absolute;
    bottom: 4px;
    display: block;
    margin: 0 2%;
    width: 96%;
    height: 2px;
    background-color: var(--underline-color);
}

form .col .inputBox .text 
{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 6rem;
    font-size: 0.9rem;
    padding: 0 1rem;
    display: block;
    pointer-events: none;
    transition: 0.5s;
}

form .col .inputBox input:focus + .text,
form .col .inputBox input:active + .text 
{
    top: -30px;
    left: -4px;
}

input[type="submit"]
{
    width: 15vw;
    height: 3.8rem;
    background-color: var(--bg-dark);
    color: var(--button-secondary-color);
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1.2rem;
    transition: 0.5s;
}

input[type="submit"]:hover
{
    background-color: var(--bg-dark-secondary);
}


form .col .inputBox select
{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background-color: transparent;
    color: var(--primary-font-color);
    border-radius: 5px;
    font-size: 0.9rem;
}

form .col .inputBox select optgroup
{
    background-color: var(--bg-dark-secondary);
}

form .col .inputBox select option
{
    background-color: var(--bg-dark-secondary);
}


h5 {
    color: var(--primary-font-color);
    text-align: center;
}

.link 
{
    color: var(--link-font-color);
    text-decoration: none;
}
