body {
    background-color: #072D36;
    color: white;
}

header {
    display: flex;
    background-color: var(--primary-color-dark);
    align-items: center;
    justify-content: space-around;
    height: 5.5rem;
}



h1 {
    font-family: Polentical Neon;
    color: var(--primary-font-color);
}

a {
    text-align: center;
    position: relative;
    text-decoration: none;
    text-decoration-style: none;
    color: white;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-align: center;
}

.logo {
    height: 100%;
}

/* 00000000000000000000000000000000000000000000000 */

.minimalist {
    position: relative;
    width: 40%;
    transition: 0.5s;
    filter: drop-shadow(5px 10px 10px #031a1f);
}

.texto-1 {
    text-align: center;
    font-size: 140%;
    height: 90vh;
}

.textos {
    display: flex;
    align-items: center;
    height: 5.5rem;
}

.equipe {
    height: 60vh;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
}

.dev {
    text-align: center;
}

h4 {
    display: flex;
    font-size: 200%;
    text-align: center;
    justify-content: center;
    width: 100%;
}